@charset "UTF-8";
/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  background-color: #fff;
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  font-family: Arial, sans-serif;
}

.body--scroll {
  overflow-y: hidden;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  -webkit-appearance: none;
}

button {
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  display: inline-block;
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

.wrapper {
  min-height: 100%;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.container {
  max-width: 1150px;
  padding: 0 15px;
  margin: 0 auto;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

.title {
  font-size: 13px;
  letter-spacing: 2.24px;
  text-transform: uppercase;
  color: #92A0B3;
  margin-bottom: 25px;
}

/*--------------------*/
.register {
  padding: 28px 0;
}

.register__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 134px;
}

.register__desc {
  font-size: 11px;
  letter-spacing: 0.12px;
  color: #DEE3EA;
  margin-right: 91px;
}

.register__btn {
  font-size: 11px;
  letter-spacing: 0.96px;
  text-transform: uppercase;
  color: #0054E9;
  padding-right: 18px;
  position: relative;
  font-weight: 500;
}
.register__btn:hover::after {
  right: -5px;
}
.register__btn::after {
  -webkit-transition: right 0.2s ease-in;
  transition: right 0.2s ease-in;
  content: "";
  position: absolute;
  top: 1px;
  right: 0;
  width: 15px;
  height: 15px;
  background-image: url("./../img/icons/arrow.svg");
  background-repeat: no-repeat;
}

.header__menu {
  background: rgba(255, 255, 255, 0.92);
  -webkit-box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  padding: 18px 0;
}

.menu__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.nav__item:not(:last-child) {
  margin-right: 45px;
}
.nav__link {
  font-size: 14px;
  color: #2D4665;
  -webkit-transition: color 0.2s ease-in;
  transition: color 0.2s ease-in;
}
.nav__link:hover {
  color: #1B6DFF;
}

.signin__ebook {
  font-size: 9px;
  letter-spacing: 1.6px;
  text-transform: uppercase;
  color: #CDDFFF;
  -webkit-transition: color 0.2s ease-in;
  transition: color 0.2s ease-in;
}
.signin__ebook:hover {
  color: #91969e;
}
.signin__link {
  font-size: 14px;
  color: #2D4665;
  -webkit-transition: color 0.2s ease-in;
  transition: color 0.2s ease-in;
}
.signin__link:hover {
  color: #1B6DFF;
}
.signin__start {
  font-size: 13px;
  color: #ffffff;
  background-color: #1B6DFF;
  border-radius: 1000px;
  padding: 8px 11px 11px 12px;
  position: relative;
  padding-right: 32px;
  margin-left: 16px;
  -webkit-transition: background-color 0.2s ease-in;
  transition: background-color 0.2s ease-in;
}
.signin__start:hover {
  background-color: #0053e7;
}
.signin__start::after {
  content: "";
  position: absolute;
  top: 40%;
  right: 11px;
  width: 13px;
  height: 13px;
  background-image: url("./../img/icons/arrowstart.svg");
  background-repeat: no-repeat;
}

.ebook-item {
  margin-right: 12px;
}

.getstart {
  padding-top: 81px;
}
.getstart__bg {
  background-image: url("./../img/bg.png");
  background-repeat: no-repeat;
  min-height: 1226px;
  background-size: contain;
  background-position: 0 -84px;
  position: relative;
}

.getstart__title {
  font-weight: 700;
  font-size: 88px;
  letter-spacing: 1.92px;
  color: #03060B;
  margin-bottom: 66px;
  max-width: 707px;
}

.getstart__desc {
  font-size: 20px;
  line-height: 1.6;
  letter-spacing: 0.2px;
  color: #445B78;
  max-width: 584px;
  margin-bottom: 43px;
}

.getstart__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.btn--1 {
  margin-right: 21px;
  background-color: #1B6DFF;
  border-radius: 1000px;
  color: #ffffff;
  -webkit-transition: background-color 0.2s ease-in;
  transition: background-color 0.2s ease-in;
  padding: 1px 31px 4px 20px;
  position: relative;
}
.btn--1::after {
  content: "";
  position: absolute;
  top: 5px;
  right: 11px;
  width: 13px;
  height: 13px;
  background-image: url("./../img/icons/arrowstart.svg");
  background-repeat: no-repeat;
}
.btn--1:hover {
  background-color: #0053e7;
}

.btn--2 {
  font-weight: 700;
  font-size: 13px;
  letter-spacing: 0.28px;
  color: #3880FF;
  position: relative;
  padding-right: 14px;
  -webkit-transition: color 0.2s ease-in;
  transition: color 0.2s ease-in;
}
.btn--2:hover {
  color: #004cd1;
}
.btn--2::after {
  content: "";
  position: absolute;
  top: 3px;
  right: 0;
  width: 13px;
  height: 13px;
  background-image: url("./../img/icons/arrow.svg");
  background-repeat: no-repeat;
}

.overview {
  margin-top: -250px;
}

.overview__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.overview__text {
  padding-top: 72px;
  max-width: 473px;
}

.overview__subtitle {
  font-weight: 700;
  font-size: 63px;
  line-height: 1.02;
  letter-spacing: 0.64px;
  color: #03060B;
  margin-bottom: 34px;
}
.overview__subtitle span {
  font-size: 61px;
  line-height: 1.05;
}

.overview__desc {
  margin-bottom: 32px;
}
.overview__desc p {
  font-size: 16px;
  line-height: 1.6;
  letter-spacing: 0.16px;
  color: #445B78;
}
.overview__desc p:not(:last-child) {
  margin-bottom: 21px;
}

.overview__btn {
  font-size: 12px;
  letter-spacing: 0.28px;
  color: #3880FF;
  position: relative;
  padding-right: 20px;
  -webkit-transition: color 0.2s ease-in;
  transition: color 0.2s ease-in;
}
.overview__btn:hover {
  color: #004cd1;
}
.overview__btn:hover::after {
  right: -5px;
}
.overview__btn::after {
  -webkit-transition: right 0.2s ease-in;
  transition: right 0.2s ease-in;
  content: "";
  position: absolute;
  top: 5px;
  right: 0;
  width: 13px;
  height: 13px;
  background-image: url("./../img/icons/arrow.svg");
  background-repeat: no-repeat;
}

.overview__pic img,
source {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.dev {
  padding: 64px 0 200px;
}

.dev__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.dev__item:not(:last-child) {
  margin-right: 98px;
}

.dev__item-content {
  max-width: 320px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 auto;
          flex: 0 1 auto;
}

.dev__pic {
  width: 67px;
  height: 67px;
  margin-bottom: 31px;
}

.dev__title {
  font-weight: 700;
  font-size: 20px;
  line-height: 22px;
  letter-spacing: 0.2px;
  color: #03060B;
  margin-bottom: 20px;
}

.dev__desc {
  font-size: 16px;
  line-height: 1.8;
  letter-spacing: 0.16px;
  color: #445B78;
}

.partners {
  margin-bottom: 240px;
}

.partners__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.approach {
  padding-bottom: 240px;
}

.text {
  margin-bottom: 76px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  padding-right: 20px;
}

.text__titles {
  max-width: 329px;
}

.approach__subtitle {
  font-weight: 700;
  font-size: 61px;
  line-height: 1.05;
  letter-spacing: 0.64px;
  color: #03060B;
}

.text__desc {
  font-size: 16px;
  line-height: 1.6;
  letter-spacing: 0.16px;
  color: #445B78;
  max-width: 428px;
}

.approach__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.approach__item {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 32%;
          flex: 0 1 32%;
  background: #F6F8FC;
  border-radius: 16px;
  padding: 40px 39px 36px 32px;
}
.approach__item-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.approach__item-pic {
  margin-bottom: 63px;
  width: 80px;
  height: 80px;
}

.approach__item-title {
  margin-bottom: 18px;
  font-weight: 700;
  font-size: 20px;
  letter-spacing: 0.2px;
  color: #03060B;
}

.approach__item-desc {
  font-size: 16px;
  line-height: 1.6;
  letter-spacing: 0.16px;
  color: #445B78;
}

.case__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.case {
  margin-bottom: 260px;
}

.case__text {
  max-width: 448px;
}

.case__subtitle {
  font-weight: 700;
  font-size: 60px;
  line-height: 1.07;
  letter-spacing: 0.64px;
  color: #03060B;
  margin-bottom: 34px;
}

.case__desc {
  font-size: 16px;
  line-height: 1.6;
  letter-spacing: 0.16px;
  color: #445B78;
  margin-bottom: 33px;
}

.case__apps {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.case__item:not(:last-child) {
  margin-right: 40px;
}

.item {
  border-radius: 32px;
  max-width: 544px;
  background-image: url("./../img/apps/casebg.jpg");
  background-repeat: no-repeat;
  min-height: 480px;
  background-size: cover;
}

.item__logo {
  margin-bottom: 26px;
}

.item__content {
  padding: 221px 58px 48px 48px;
}

.item__desc {
  margin-bottom: 36px;
  font-size: 16px;
  line-height: 1.6;
  letter-spacing: 0.16px;
  color: #ffffff;
}

.item__link {
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 1000px;
  font-size: 12px;
  line-height: 1.08;
  color: #ffffff;
  min-height: 32px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 195px;
  padding-left: 12px;
  position: relative;
  -webkit-transition: background-color 0.2s ease-in;
  transition: background-color 0.2s ease-in;
}
.item__link:hover {
  background-color: rgba(255, 255, 255, 0.3);
}
.item__link::after {
  content: "";
  position: absolute;
  width: 13px;
  height: 13px;
  top: 13px;
  right: 16px;
  background-image: url("./../img/icons/arrowstart.svg");
  background-repeat: no-repeat;
}

.ebook {
  margin-bottom: 295px;
}

.ebook__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.ebook__read {
  padding: 36px 0 0 64px;
  height: 376px;
  background: #FBFBFD;
}

.ebook__desc {
  font-size: 32px;
  line-height: 1.12;
  color: #03060B;
  margin-bottom: 86px;
}
.ebook__desc span {
  font-weight: 700;
}

.ebook__btn {
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.28px;
  color: #3880FF;
  position: relative;
  padding-right: 17px;
  -webkit-transition: color 0.2s ease-in;
  transition: color 0.2s ease-in;
}
.ebook__btn:hover {
  color: #004cd1;
}
.ebook__btn:hover::after {
  right: -5px;
}
.ebook__btn::after {
  -webkit-transition: right 0.2s ease-in;
  transition: right 0.2s ease-in;
  content: "";
  position: absolute;
  top: 3px;
  right: 0;
  width: 13px;
  height: 13px;
  background-image: url("./../img/icons/arrow.svg");
  background-repeat: no-repeat;
}

.text-res {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  margin-bottom: 120px;
}

.resources {
  margin-bottom: 210px;
}

.resources__subtitle {
  font-weight: 700;
  font-size: 61px;
  line-height: 1.05;
  letter-spacing: 0.64px;
  color: #03060B;
  max-width: 496px;
}

.visit {
  max-width: 512px;
}

.visit__desc {
  margin-bottom: 50px;
  font-size: 16px;
  line-height: 1.6;
  letter-spacing: 0.16px;
  color: #445B78;
}

.visit__btn {
  font-size: 14px;
  letter-spacing: 0.32px;
  color: #3880FF;
  -webkit-transition: color 0.2s ease-in;
  transition: color 0.2s ease-in;
  position: relative;
  padding-right: 17px;
}
.visit__btn:hover {
  color: #004cd1;
}
.visit__btn:hover::after {
  right: -5px;
}
.visit__btn::after {
  -webkit-transition: right 0.2s ease-in;
  transition: right 0.2s ease-in;
  content: "";
  position: absolute;
  top: 3px;
  right: 0;
  width: 13px;
  height: 13px;
  background-image: url("./../img/icons/arrow.svg");
  background-repeat: no-repeat;
}

.res {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.res__item {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 23.5%;
          flex: 0 1 23.5%;
}

.res__pic {
  margin-bottom: 47px;
  height: 192px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #F6F8FC;
  border-radius: 16px;
}

.res__title {
  font-weight: 700;
  font-size: 20px;
  letter-spacing: 0.2px;
  color: #03060B;
  margin-bottom: 20px;
}

.res__desc {
  font-size: 16px;
  line-height: 1.8;
  letter-spacing: 0.16px;
  color: #445B78;
}

.app {
  background: -webkit-gradient(linear, right top, left top, color-stop(50%, #E8F5FF), color-stop(50%, #425D8D));
  background: linear-gradient(to left, #E8F5FF 50%, #425D8D 50%);
  height: 500px;
  padding-top: 151px;
  position: relative;
}
.app::before {
  content: "";
  position: absolute;
  width: 116px;
  height: 278px;
  top: -166px;
  left: 18px;
  background-image: url("./../img/before.svg");
}
.app::after {
  content: "";
  position: absolute;
  width: 160px;
  height: 300px;
  bottom: -110px;
  right: 0;
  background-image: url("./../img/after.svg");
}

.app__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.text-app__desc {
  font-size: 48px;
  line-height: 1.12;
  color: #ffffff;
  max-width: 275px;
  margin-right: 241px;
}

.btns-app {
  background: #E8F5FF;
}

.btns-app__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.btn-apps--1 {
  margin-right: 32px;
  background-color: #1B6DFF;
  border-radius: 1000px;
  font-weight: 700;
  font-size: 14px;
  color: #ffffff;
  height: 25px;
  line-height: 25px;
  padding: 0 29px 0 20px;
  position: relative;
  -webkit-transition: background-color 0.2s ease-in;
  transition: background-color 0.2s ease-in;
}
.btn-apps--1:hover {
  background-color: #004ace;
}
.btn-apps--1::after {
  content: "";
  position: absolute;
  width: 13px;
  height: 13px;
  top: 10px;
  right: 11px;
  background-image: url("./../img/icons/arrowstart.svg");
  background-repeat: no-repeat;
}

.btn-apps--2 {
  font-weight: 700;
  font-size: 16px;
  color: #3880FF;
  position: relative;
  -webkit-transition: color 0.2s ease-in;
  transition: color 0.2s ease-in;
  padding-right: 16px;
}
.btn-apps--2:hover::after {
  right: -6px;
}
.btn-apps--2:hover {
  color: #0055eb;
}
.btn-apps--2::after {
  -webkit-transition: right 0.2s ease-in;
  transition: right 0.2s ease-in;
  content: "";
  position: absolute;
  width: 13px;
  height: 13px;
  top: 6px;
  right: -2px;
  background-image: url("./../img/icons/arrow.svg");
  background-repeat: no-repeat;
}

.top {
  padding: 138px 0 71px;
}

.top__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.top__title {
  margin-bottom: 21px;
  font-weight: 700;
  font-size: 14px;
  letter-spacing: 0.32px;
  color: #03060B;
}

.top__item:not(:last-child) {
  margin-bottom: 11px;
}

.top__link {
  font-size: 13px;
  letter-spacing: 0.14px;
  color: #445B78;
  -webkit-transition: color 0.1s ease-in;
  transition: color 0.1s ease-in;
}
.top__link:hover {
  color: #03060B;
}

.bottom {
  padding: 50px 0;
  border-top: 2px solid #E9EDF3;
}

.bottom__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.copyright {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.copyright > *:not(:last-child) {
  margin-right: 12px;
}

.copyright__text {
  font-size: 13px;
  color: #92A0B3;
}

.copyright__link {
  font-size: 13px;
  color: #92A0B3;
  -webkit-transition: color 0.2s ease-in;
  transition: color 0.2s ease-in;
}
.copyright__link:hover {
  color: #5c6c83;
}

.socials > *:not(:last-child) {
  margin-right: 16px;
}

.mobile-nav {
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 299;
  background-color: #ffffff;
  top: 0;
  left: 0;
  padding: 70px 15px;
}

.mobile-nav.active {
  display: block;
}

.nav-menu .nav__link {
  font-size: 20px;
}

.nav-menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav-menu__item {
  margin-bottom: 20px;
}

.signin-menu__item:not(:last-child) {
  margin-bottom: 20px;
}

.mobile-nav-button {
  display: none;
  width: 40px;
  height: 30px;
  position: fixed;
  right: 20px;
  top: 82px;
  background-color: transparent;
  cursor: pointer;
  z-index: 999;
  visibility: visible;
  opacity: 1;
}
.mobile-nav-button__icon {
  display: block;
  width: 40px;
  height: 4px;
  background-color: #000000;
  position: relative;
}
.mobile-nav-button__icon::after, .mobile-nav-button__icon::before {
  content: "";
  position: absolute;
  width: 40px;
  height: 4px;
  background-color: #000000;
  transition: transform 0.15s ease-in, top 0.15s ease-in 0.15s, -webkit-transform 0.15s ease-in;
}
.mobile-nav-button__icon::after {
  right: 0;
  top: -8px;
}
.mobile-nav-button__icon::before {
  right: 0;
  top: 8px;
}

.mobile-nav-button.hidden {
  visibility: hidden;
  opacity: 0;
}

.mobile-nav-button__icon.active {
  background-color: transparent;
}
.mobile-nav-button__icon.active::after {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  top: 0;
  transition: top 0.15s linear, transform 0.15s ease-in 0.15s, -webkit-transform 0.15s ease-in 0.15s;
}
.mobile-nav-button__icon.active::before {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  top: 0;
  transition: top 0.15s linear, transform 0.15s ease-in 0.15s, -webkit-transform 0.15s ease-in 0.15s;
}

@media (max-width: 1150px) {
  .nav {
    display: none;
  }

  .getstart__bg {
    background-image: none;
    margin-bottom: 250px;
    min-height: 0;
  }
  .getstart__title {
    font-size: 65px;
    max-width: 725px;
  }

  .overview__subtitle {
    font-size: 50px;
    margin-bottom: 25px;
  }

  .case {
    margin-bottom: 120px;
  }
  .case__item {
    max-width: 500px;
  }

  .res {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .res__item {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 49%;
            flex: 0 1 49%;
  }
  .res__item:nth-child(n+3) {
    margin-top: 25px;
  }

  .mobile-nav-button {
    display: block;
  }
}
@media (max-width: 992px) {
  .register__row {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-right: 0;
  }
  .register__desc {
    margin-right: 0;
  }

  .overview__desc p {
    font-size: 15px;
  }
  .overview__subtitle {
    font-size: 40px;
    margin-bottom: 25px;
  }
  .overview__subtitle span {
    font-size: 45px;
  }

  .dev {
    padding-bottom: 100px;
  }

  .partners {
    margin-bottom: 100px;
  }

  .text {
    margin-bottom: 60px;
  }

  .approach {
    padding-bottom: 80px;
  }
  .approach__subtitle {
    font-size: 46px;
    margin-bottom: 25px;
  }

  .case__row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .case__subtitle {
    font-size: 46px;
    margin-bottom: 25px;
  }
  .case__text {
    margin-bottom: 25px;
  }

  .ebook {
    margin-bottom: 100px;
  }
  .ebook__row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .ebook__pic {
    margin-bottom: 25px;
  }
  .ebook__read {
    height: auto;
    padding: 36px 25px 96px 25px;
  }
  .ebook__desc {
    font-size: 28px;
  }

  .resources__titles {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 48%;
            flex: 0 1 48%;
  }
  .resources__subtitle {
    font-size: 46px;
  }

  .visit {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 48%;
            flex: 0 1 48%;
  }
  .visit__desc {
    margin-bottom: 25px;
  }

  .app {
    position: relative;
    background: -webkit-gradient(linear, left bottom, left top, color-stop(50%, #E8F5FF), color-stop(50%, #425D8D));
    background: linear-gradient(to top, #E8F5FF 50%, #425D8D 50%);
  }
  .app__row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }

  .text-app__desc {
    position: absolute;
    right: 50%;
    -webkit-transform: translateX(50%);
            transform: translateX(50%);
    top: 30px;
    margin-right: 0;
    margin-bottom: 25px;
  }

  .btns-app__row {
    position: absolute;
    bottom: 30px;
    left: 30px;
  }
}
@media (max-width: 767px) {
  .getstart {
    padding-top: 50px;
  }
  .getstart__title {
    font-size: 50px;
    margin-bottom: 35px;
  }
  .getstart__buttons {
    margin-bottom: 35px;
  }

  .register__row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .register__desc {
    margin-bottom: 18px;
  }

  .overview__row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .overview__pic {
    margin: 0 auto;
  }

  .dev__item:not(:last-child) {
    margin-right: 40px;
  }

  .text {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-bottom: 60px;
  }

  .approach__items {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .approach__item {
    width: 100%;
  }
  .approach__item:not(:last-child) {
    margin-bottom: 20px;
  }
  .approach__item-content {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
  }

  .resources__titles {
    margin-bottom: 25px;
  }

  .text-res {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }

  .res {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .res__pic {
    margin-bottom: 20px;
  }
  .res__item {
    text-align: center;
    -webkit-box-flex: 0;
        -ms-flex: 0 1 60%;
            flex: 0 1 60%;
  }
  .res__item:nth-child(n+1) {
    margin-top: 28px;
  }

  .top__row {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .top__row .logo {
    margin-right: 20px;
  }
  .top .top__list {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 25%;
            flex: 0 1 25%;
  }
  .top .top__list:nth-child(5) {
    margin-left: auto;
    margin-top: 30px;
  }
  .top .top__list:nth-child(6) {
    margin-top: 30px;
    margin-right: auto;
  }

  .mobile-nav-button {
    top: 108px;
  }
}
@media (max-width: 576px) {
  .dev__row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .dev__item:not(:last-child) {
    margin-right: 0;
    margin-bottom: 25px;
  }
  .dev__item-content {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
  }

  .item {
    min-height: 400px;
  }
  .item__content {
    padding: 100px 30px 30px 32px;
  }

  .ebook__pic img,
  .ebook source {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .ebook__desc {
    font-size: 26px;
  }

  .app::before, .app::after {
    display: none;
  }

  .btns-app__row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    bottom: 20%;
    left: 50%;
    -webkit-transform: translate(-50%, -20%);
            transform: translate(-50%, -20%);
  }

  .text-app__desc {
    font-size: 44px;
  }

  .btn-apps--1 {
    margin-right: 0;
    margin-bottom: 20px;
  }

  .resources {
    margin-bottom: 85px;
  }

  .top {
    padding: 75px 0 71px;
  }
  .top__row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .top__row .logo {
    margin-right: 0;
  }
  .top .top__list:nth-child(5) {
    margin-left: 0;
  }
  .top .top__list:nth-child(6) {
    margin-right: 0;
  }
  .top__list:not(:first-child) {
    margin-top: 30px;
  }

  .bottom__row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .bottom__copyright {
    margin-bottom: 20px;
  }
}
@media (min-width: 320px) {
  .text-app__desc {
    top: 30px;
    font-size: 35px;
  }
}

/*# sourceMappingURL=main.css.map */