@charset "UTF-8";
/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  background-color: #fff;
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  font-family: Arial, sans-serif;
}

.body--scroll {
  overflow-y: hidden;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  -webkit-appearance: none;
}

button {
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  display: inline-block;
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

.wrapper {
  min-height: 100%;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.container {
  max-width: 1150px;
  padding: 0 15px;
  margin: 0 auto;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*--------------------*/
.register {
  padding: 28px 0;
}

.register__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 134px;
}

.register__desc {
  font-size: 11px;
  letter-spacing: 0.12px;
  color: #DEE3EA;
  margin-right: 91px;
}

.register__btn {
  font-size: 11px;
  letter-spacing: 0.96px;
  text-transform: uppercase;
  color: #0054E9;
  padding-right: 18px;
  position: relative;
  font-weight: 500;
}
.register__btn:hover::after {
  right: -5px;
}
.register__btn::after {
  -webkit-transition: right 0.2s ease-in;
  transition: right 0.2s ease-in;
  content: "";
  position: absolute;
  top: 1px;
  right: 0;
  width: 15px;
  height: 15px;
  background-image: url("./../img/icons/arrow.svg");
  background-repeat: no-repeat;
}

.header__menu {
  background: rgba(255, 255, 255, 0.92);
  -webkit-box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  padding: 18px 0;
}

.menu__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.nav__item:not(:last-child) {
  margin-right: 45px;
}
.nav__link {
  font-size: 14px;
  color: #2D4665;
  -webkit-transition: color 0.2s ease-in;
  transition: color 0.2s ease-in;
}
.nav__link:hover {
  color: #1B6DFF;
}

.signin__ebook {
  font-size: 9px;
  letter-spacing: 1.6px;
  text-transform: uppercase;
  color: #CDDFFF;
  margin-right: 12px;
  -webkit-transition: color 0.2s ease-in;
  transition: color 0.2s ease-in;
}
.signin__ebook:hover {
  color: #91969e;
}
.signin__link {
  font-size: 14px;
  color: #2D4665;
  -webkit-transition: color 0.2s ease-in;
  transition: color 0.2s ease-in;
}
.signin__link:hover {
  color: #1B6DFF;
}
.signin__start {
  font-size: 13px;
  color: #ffffff;
  background-color: #1B6DFF;
  border-radius: 1000px;
  padding: 8px 11px 11px 12px;
  position: relative;
  padding-right: 32px;
  margin-left: 16px;
  -webkit-transition: background-color 0.2s ease-in;
  transition: background-color 0.2s ease-in;
}
.signin__start:hover {
  background-color: #0053e7;
}
.signin__start::after {
  content: "";
  position: absolute;
  top: 40%;
  right: 11px;
  width: 13px;
  height: 13px;
  background-image: url("./../img/icons/arrowstart.svg");
  background-repeat: no-repeat;
}

.getstart {
  padding-top: 81px;
}
.getstart__bg {
  background-image: url("./../img/bg.png");
  background-repeat: no-repeat;
  min-height: 1226px;
  background-size: contain;
  background-position: 0 -84px;
  position: relative;
}

.getstart__title {
  font-weight: 700;
  font-size: 88px;
  letter-spacing: 1.92px;
  color: #03060B;
  margin-bottom: 66px;
  max-width: 707px;
}

.getstart__desc {
  font-size: 20px;
  line-height: 1.6;
  letter-spacing: 0.2px;
  color: #445B78;
  max-width: 584px;
  margin-bottom: 43px;
}

.getstart__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.btn--1 {
  margin-right: 21px;
  background-color: #1B6DFF;
  border-radius: 1000px;
  color: #ffffff;
  -webkit-transition: background-color 0.2s ease-in;
  transition: background-color 0.2s ease-in;
  padding: 1px 31px 4px 20px;
  position: relative;
}
.btn--1::after {
  content: "";
  position: absolute;
  top: 5px;
  right: 11px;
  width: 13px;
  height: 13px;
  background-image: url("./../img/icons/arrowstart.svg");
  background-repeat: no-repeat;
}
.btn--1:hover {
  background-color: #0053e7;
}

.btn--2 {
  font-weight: 700;
  font-size: 13px;
  letter-spacing: 0.28px;
  color: #3880FF;
  position: relative;
  padding-right: 14px;
  -webkit-transition: color 0.2s ease-in;
  transition: color 0.2s ease-in;
}
.btn--2:hover {
  color: #004cd1;
}
.btn--2::after {
  content: "";
  position: absolute;
  top: 3px;
  right: 0;
  width: 13px;
  height: 13px;
  background-image: url("./../img/icons/arrow.svg");
  background-repeat: no-repeat;
}

.overview {
  margin-top: -250px;
}

.overview__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.overview__text {
  padding-top: 72px;
  max-width: 473px;
}

.overview__title {
  font-size: 13px;
  letter-spacing: 2.24px;
  text-transform: uppercase;
  color: #92A0B3;
  margin-bottom: 25px;
}

.overview__subtitle {
  font-weight: 700;
  font-size: 63px;
  line-height: 1.02;
  letter-spacing: 0.64px;
  color: #03060B;
  margin-bottom: 34px;
}
.overview__subtitle span {
  font-size: 61px;
  line-height: 1.05;
}

.overview__desc {
  margin-bottom: 32px;
}
.overview__desc p {
  font-size: 16px;
  line-height: 1.6;
  letter-spacing: 0.16px;
  color: #445B78;
}
.overview__desc p:not(:last-child) {
  margin-bottom: 21px;
}

.overview__btn {
  font-size: 12px;
  letter-spacing: 0.28px;
  color: #3880FF;
  position: relative;
  padding-right: 20px;
  -webkit-transition: color 0.2s ease-in;
  transition: color 0.2s ease-in;
}
.overview__btn:hover {
  color: #004cd1;
}
.overview__btn:hover::after {
  right: -5px;
}
.overview__btn::after {
  -webkit-transition: right 0.2s ease-in;
  transition: right 0.2s ease-in;
  content: "";
  position: absolute;
  top: 5px;
  right: 0;
  width: 13px;
  height: 13px;
  background-image: url("./../img/icons/arrow.svg");
  background-repeat: no-repeat;
}

.overview__pic img,
.overview__pic source {
  max-width: 500px;
  background-color: transparent;
}

/*# sourceMappingURL=main.css.map */