.dev {
	padding: 64px 0 200px;
}

.dev__row {
	@include flex(space-between, flex-start);
}

.dev__item {
	&:not(:last-child) {
		margin-right: 98px;
	}
}

.dev__item-content {
	max-width: 320px;
	display: flex;
	flex-direction: column;
	flex: 0 1 auto;


}

.dev__pic {
	width: 67px;
	height: 67px;
	margin-bottom: 31px;
}

.dev__title {
	font-weight: 700;
	font-size: 20px;
	line-height: 22px;
	letter-spacing: 0.2px;
	color: $bigtext;
	margin-bottom: 20px;
}

.dev__desc {
	font-size: 16px;
	line-height: 1.8;
	letter-spacing: 0.16px;
	color: $accent;
}