.overview {
	margin-top: -250px;
}

.overview__row {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.overview__text {
	padding-top: 72px;
	max-width: 473px;
}

.overview__subtitle {
	span {
		font-size: 61px;
		line-height: 1.05;
	}

	font-weight: 700;
	font-size: 63px;
	line-height: 1.02;
	letter-spacing: 0.64px;
	color: $bigtext;
	margin-bottom: 34px;
}

.overview__desc {
	margin-bottom: 32px;

	p {
		font-size: 16px;
		line-height: 1.6;
		letter-spacing: 0.16px;
		color: #445B78;

		&:not(:last-child) {
			margin-bottom: 21px;
		}
	}
}

.overview__btn {
	font-size: 12px;
	letter-spacing: 0.28px;
	color: $btntext;
	position: relative;
	padding-right: 20px;
	transition: color 0.2s ease-in;

	&:hover {
		color: darken($btntext, 20%);
	}

	&:hover::after {
		right: -5px;
	}

	&::after {
		transition: right 0.2s ease-in;
		content: "";
		position: absolute;
		top: 5px;
		right: 0;
		width: 13px;
		height: 13px;
		background-image: url('./../img/icons/arrow.svg');
		background-repeat: no-repeat;
	}
}

.overview__pic {

	img,
	source {
		max-width: 500px;
		background-color: transparent;
	}
}